body{
    backdrop-filter: blur(5px);
    background-image: url('https://i.pinimg.com/originals/e5/c6/6e/e5c66e42af06ed44682cb908a0029b51.jpg');
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
}

.menu{
  background: #EF8E38;
}

a{
  color: yellow;
  text-decoration: none;
}

a:hover{
  color: red;
  text-decoration: underline;
}

.menu ul{
  display: flex;
  justify-content: space-evenly
}

.menu li{
  list-style: none;
}

.site-subtitle,
.site-title{
  color: whitesmoke;
  text-align: center;
}

.site-subtitle{
  font-style: italic
}