* { /*Resete do padrão*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  backdrop-filter: blur(5px);
  background-image: url('https://i.pinimg.com/originals/75/51/1b/75511b6305a5486de10a2d0ea91e5230.jpg');
  background-size: 100vw auto;
  font-family: Arial;
  height: 100vh;
  font-size: 12px;
  color: white;
  font-family: 'Roboto Slab', serif;
}


/*breakpoint*/
@media (min-width: 1200px) {
  body {
    background-size: 100vw auto;
    font-size: 20px;
    background-image: url('https://i.pinimg.com/736x/ec/52/9a/ec529a04c518c46d1b513680741a4e3d.jpg');
  }
  .menu{
    background-color: black;
  }
}

header{
  display: flex;
  height: 100vh;
  justify-content: center; /*alinha horizontal*/
  align-items: center; 
}

.menu{
  background-color:blue;
  position: fixed;
  width: 100vw;
  top: 0;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: red;
  text-decoration: underline;
}

.menu a{
  display: block;
  padding: 10px 20px;
}

.menu ul{
  display: flex; /*transforma em coluna*/
  justify-content: space-evenly
}

.menu li{
  list-style: none;
}

.site-subtitle,
.site-title{
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.site-subtitle{
  font-style: italic;
  line-height: 1.8;
}

.portfolio{
  padding: 2em;
  height: 100vh;
}

.portfolio h2{
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-bottom: 2em;
}

.img-portfolio{
  height: 180px;
  width: 180px;
  object-fit: contain;
  object-position: center;
}

.portfolio .grid{ /*seleciona a classe grid dentro da classe portfolio*/
  display: grid;
  gap: 1em; /*defini o espaçamente entre coluna ou linha do grid*/
  justify-content: center;
}

/*se a tela tiver pelo menos 400px de largura, vai carregar estes estilos*/
@media (min-width: 560px) {
  .portfolio .grid{ 
    grid-template-columns: repeat(2, 240px);
  }
}

@media (min-width: 800px) {
  .portfolio .grid{ 
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figure{
  text-align: center;
}